<footer class="page-footer light-green-background">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <img
          src="assets/resources/images/logo.png"
          id="logo-footer"
          class="img-responsive"
          height="100em"
        />
        <h5 class="dark-green-text">Controle Financeiro Pessoal</h5>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="dark-green-text">Links</h5>
        <ul>
          <li><a class=dark-green-text href="/saldo">Saldo</a></li>
          <li><a class=dark-green-text href="/receitas">Receitas</a></li>
          <li><a class=dark-green-text href="/despesas">Despesas</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container dark-green-text">
    © {{this.year}} - Todos os direitos reservados
    </div>
  </div>
</footer>
