<app-modal [show]="modal.show" [content]="modal" (closeEvent)="onCloseModal()">
</app-modal>
<div id="painel-saldo" class="container contact"  [hidden]="this.hideBalance">

   <h5>Saldo do Mês:</h5>
   <app-painel-saldo [saldo]= "1234" (investmentsEvent)="this.onInvestmentsEvent($event)"></app-painel-saldo>
   <br>

<!--   <button (click)="passarParaReceitas()">Adicionar R$ 100 em Receitas</button><br><br>
  <button (click)="passarParaDespesas()">Adicionar R$ 100 em Despesas</button> -->
</div>
