<!-- menu -->
<nav>
  <div class="nav-wrapper light-green-background">
    <a class="brand-logo" href="#">
      <img class="my-logo" src="assets/resources/images/logo.png" />
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a class=dark-green-text href="balance.html">Saldo</a></li>
      <li><a class=dark-green-text href="income.html">Receitas</a></li>
      <li><a class=dark-green-text href="outcome.html">Despesas</a></li>
    </ul>
  </div>
</nav>
<!-- fim menu -->
