<br><h4 class="container contact" >Despesas</h4>
<div class="container contact">
  <h5>Cadastro de Despesas</h5>

<div
  id="div-mensagem-despesa"
  class="card-panel white-text"
  [hidden]="!this.mensagemDespesa"
  [class.red]="this.erroDespesa"
  [class.green]="!this.erroDespesa"
>
  {{ this.mensagemDespesa }}
</div>
<form (ngSubmit)="adicionarDespesa()" #despesaForm="ngForm">
  <div>
    <label for="descricao">Descrição:</label>
    <input
      type="text"
      id="descricao"
      name="descricao"
      autocomplete="off"
      [(ngModel)]="descricao"
      pattern="^[a-zA-Z0-9\sÀ-ÿ]{2,50}$"
      required
    >
  </div>
  <div class="red-text" *ngIf="despesaForm.controls['descricao'].invalid && despesaForm.controls['descricao'].touched">
    Erro: A descrição é obrigatória e deve conter entre 2 e 50 caracteres.
  </div>
  <div>
    <label for="valor">Valor (R$):</label>
    <input
      type="text"
      id="valor"
      name="valor"
      autocomplete="off"
      [(ngModel)]="valor"
      pattern="^[0-9]+(?:\.[0-9]{1,2})?$"
      required
    >
  </div>
  <div class="red-text" *ngIf="despesaForm.controls['valor'].invalid && despesaForm.controls['valor'].touched">
    Erro: Utilize apenas números e ponto para separar os centavos.
  </div>
  <button type="submit" [disabled]="!despesaForm.valid">Enviar</button>
</form>
<table>
  <tr>
    <th><h5>Lista de Despesas</h5></th>
    <th><h5>Total de Despesas: {{ calcularTotalDespesas() | currency: "BRL" }}</h5></th>
  </tr>
  <tr>
    <th>Descrição</th>
    <th>Valor</th>
  </tr>
  <tr *ngFor="let despesa of despesas">
    <td>{{ despesa.descricao }}</td>
    <td>{{ despesa.valor | currency: "BRL" }}</td>
  </tr>
</table>
</div>
